@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">DAS - DESAFIO 2</h1>
    <p>Enlace a repositorio <a href="https://github.com/Ferlopez99Alt/DESAFIO2-DAS-LP251570.git">https://github.com/Ferlopez99Alt/DESAFIO2-DAS-LP251570.git</a>.</p>
</div>
